<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express App</title>
    <style>
        textarea {
          resize: none;
          min-height: 50px;
          max-height: 200px;
        }

        #ai-response p {
            margin-top: 0.1em;
            margin-bottom: 0.1em;
        }

        #ai-response ul {
            margin-top: 0.1em;
            margin-bottom: 0.1em;
        }
    </style>
</head>
<body>
    <h1>We cooked!</h1>

    <script src="/js/script.js" type="module"></script>

    <!-- Markdown Parser (choose one) -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <!-- or -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/13.0.1/markdown-it.min.js"></script> -->
    <!-- HTML Sanitizer (Highly Recommended!) -->
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.5/dist/purify.min.js"></script>
</body>
</html>
